@font-face {
  font-family: 'Museo Sans';
  font-weight: 900;
  font-style: normal;
  src: local('MuseoSansBlack'), local('Museo Sans Black'),
    url('@/assets/fonts/MuseoSansBlack.woff') format('woff'),
    url('@/assets/fonts/MuseoSansBlack.ttf') format('ttf'),
    url('@/assets/fonts/MuseoSansBlack.eot') format('eot');
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: local('RalewayBold'), local('Raleway Bold'),
    url('@/assets/fonts/RalewayBold.woff2') format('woff2'),
    url('@/assets/fonts/RalewayBold.woff') format('woff'),
    url('@/assets/fonts/RalewayBold.ttf') format('ttf'),
    url('@/assets/fonts/RalewayBold.eot') format('eot');
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: local('RelewayRegular'), local('Raleway Regular'),
    url('@/assets/fonts/RalewayRegular.woff2') format('woff2'),
    url('@/assets/fonts/RalewayRegular.woff') format('woff'),
    url('@/assets/fonts/RalewayRegular.ttf') format('ttf'),
    url('@/assets/fonts/RalewayRegular.eot') format('eot');
  font-display: swap;
}
